.music-tabs {
  flex-grow: 1;
  display: flex;
  text-align: center;
  background-color: #004d3d;
  min-height: 40px;
  align-items: center;
  font-family: "Syne Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

.music-tab {
  flex-grow: 1;
  flex-basis: 100%;
}

.music-tab.active p {
  font-size: 1.8rem;
  margin: 0.15rem 0.35rem;
  /* background-color: #3a303f; */
  color: #a391ac;
  font-weight: bold;
}

.music-tab:hover {
  cursor: pointer;
}

.music-tab:not(:last-of-type) {
  border-right: 1.5px solid #1c1320;
}

a.music-tab p {
  color: #1c1320;
}

a.music-tab {
  text-decoration: none;
  font-weight: inherit;
}

a.music-tab:visited {
  color: inherit;
}
