.music-tabs {
  flex-grow: 1;
  display: flex;
  text-align: center;
  background-color: #09332b;
  min-height: 40px;
  align-items: center;
  font-family: "Syne Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

.music-tab {
  flex-grow: 1;
  flex-basis: 100%;
  color: #726577;
}

.music-tab.selected {
  font-size: 1.8rem;
  margin: 0.15rem 0.35rem;
  /* background-color: #3a303f; */
  color: #9365aa;
  font-weight: bold;
}

.music-tab:hover {
  cursor: pointer;
}

.music-tab:not(:last-of-type) {
  border-right: 1.5px solid #1c1320;
}

.music-tab a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.music-tab a:visited {
  color: inherit;
}
