.music-list-container {
  max-width: 30vw;
}

.music-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.music-list-item {
  font-family: "Syne Mono", monospace;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.music-list-item .img-container {
  border-radius: 50%;
  overflow: hidden;
  min-width: none;
  min-height: none;
}
