.music-list {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.music-list-item {
  /* flex-grow: 1; */
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #726577;
  font-family: "Syne Mono", monospace;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.music-list-item h5 {
}

.music-list-item .img-container {
  /* width: 100%; */
  aspect-ratio: 1 / 1;
}

.music-list-item img {
  border-radius: 50%;
  max-width: 150px;
  aspect-ratio: 1 / 1;
}
