header {
  min-height: 40px;
  display: flex;
  width: 100%;
  padding-top: 10px;
  border-bottom: 2px solid #009578;
}

.logo {
  margin-left: 10px;
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

header .nav-links {
  margin-right: 4em;
  display: flex;
  align-items: center;
  gap: 2em;
  font-family: "Syne Mono", monospace;
  font-size: 1.5rem;
}

header .link {
  text-decoration: none;
  height: 100%;
  color: #009578;
}

header .link:visited {
  color: #009578;
}
